* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, rgb(218, 226, 248), rgb(214, 164, 164));
}
header {
  text-align: center;
}
header h1 {
  font-size: min(3.5rem, 12vw);
}
.container-center {
  width: 80vw;
  margin: 10px auto;
}
