nav {
  text-transform: capitalize;
  display: flex;

  justify-content: space-evenly;
  flex-wrap: wrap;
  color: red;
}

nav h3 {
  font-size: min(2rem, 10vw);
  padding: 0.5em;
  margin: 0.15em;
  border-radius: 10px;
  background-color: yellow;
}
